<ion-modal-view view-title="Login">
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content style="background: url(img/wallpaper.png) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="loginData.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <label class="item">
        <button class="button button-block button-positive" ng-click="Login(user)">Login</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
